.changeUser
{
    display: flex;
    gap: 20px;
    width: auto;
}

.changeUser>*
{
    width: 100%;
}

.passwordBottomArea
{
    display: flex;
    gap: 20px;
    width: auto;
}

.passwordBottomArea>*
{
    width: 100%;
}

