.topLine
{
  display: flex;
  gap: 10px;
  
}

.view
{
    display: flex;

}

.side
{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 640px) {
  .view {
    display: block;
  }
}