.top
{
  flex-direction: row;
  display: flex;
  gap: 20px;
}

.texts
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.texts>*
{
  margin: 0;
}

.bottom
{
  display: flex;
  gap: 25px;
  justify-content: space-between;
  font-size: 12px;
  margin: -7px;
}

.bottom * {
  display: flex;
  gap: 5px;
}

@media screen and (max-width: 768px) {
  #test{
      display: none;
      height: 0;
      padding: 0;
  }
};
