.spoilerStyle {
  width: 100%;
  height: auto;
  background-color: #707070;
  filter: blur(8px);
  color: white;
}

.unBlurSpoilerStyle {
  width: 100%;
  height: auto;
  background-color: transparent;
  filter: blur(0px);
}

.spoilerWarning {
  color: #4930ff;
  filter: blur(0px);
  font-size: 20px;
}

.spoilerGone {
  color: transparent;
}