#navContainer{
    display: flex;
    position: sticky;
    border-radius: 25px;
    background-color: #0B0725;
    height: fit-content;
    width: auto;
    top: 10vh;
}

.showNav {
    visibility: visible !important;
    z-index: 1;
    height: fit-content !important;
    margin-bottom: 10vh;
    width: 50% !important;
}

@media screen and (max-width: 768px) {
    #navContainer{
        visibility: hidden;
        height: 0;
    }
};
