.contentsList{
    list-style: none;
    width: 100%;
    padding: 0;
    white-space: nowrap; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.friendsList{

}

.contentsList li{    

}

div .scroll{
    width: auto;
}


.contentsList::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
.contentsList::-webkit-scrollbar-thumb {
    background-color: #180F53;
    border-radius: 15px;
}


.friendsList::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
.friendsList::-webkit-scrollbar-thumb {
    background-color: #180F53;
    border-radius: 15px;
}