.contentsList{
    list-style: none;
    width: 100%;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
}

.contentsList li{    
    display: inline;
    margin-left: 10px;
}

div .scroll{
    width: 700px;
}

.contentsList::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
.contentsList::-webkit-scrollbar-thumb {
    background-color: #180F53;
    border-radius: 15px;
}
