div{
    display: block;
}

#header{
    margin-bottom: 500px;
    position: fixed;
}

h1{
    color: red;
}

#nav{
    margin-top: 100px;
}

#container{
    display: flex;
    flex-direction: column;
}

#rowContainer{
    display: flex;
    flex-direction: row;
}