div {
  display: block;
  color: white;
}

#header {
  margin-bottom: 500px;
  position: fixed;
}

#nav {
  margin-top: 100px;
}

#container {
  display: flex;
  flex-direction: column;
}

#rowContainer{
    display: flex;
    flex-direction: row;
}

